{% extends "admin/bars.html.twig" %}

{% block contenpage %}
<div class="container">
    <h1 class="text-center" style="color: #124e8a; font-size:28px ;font-weight:500;">Recharger une Agence</h1>

    {{ include('admin/credit/_form.html.twig') }}

</div>
{% endblock %}