{% extends "admin/bars.html.twig" %}

{% block contenpage %}
    <div class="container">
        {{ include('admin/retrait/_form.html.twig', {'button_label': 'Enregistrer'}) }}

    </div>
{% endblock %}