{% extends "admin/bars.html.twig" %}

{% block contenpage %}
    <div class="container">
        {{ include('admin/depot/_form.html.twig', {'button_label': 'Enregistrer','title':'Effectuer un nouveau Dépot'}) }}

    </div>
{% endblock %}