{% extends "admin/bars.html.twig" %}

{% block contenpage %}
<link href="https://fonts.googleapis.com/css?family=Open+Sans:300,400,600,700" rel="stylesheet">
<link href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.3.1/css/all.min.css" rel="stylesheet">

<div class="body bg-default">
    <div class="main-content">
        {% if is_granted("ROLE_SUPERUSER") %}
        <div class="header bg-gradient-primary pb-8 pt-5 pt-md-8">
            <div class="container-fluid">
                <h2 class="mb-5 text-center text-muted">Configuration initial</h2>
                <div class="header-body">
                    <div class="row">
                        <div class="col-sm-12 col-md-12">
                            <div class="row">
                                {{ include('settings/_form.html.twig', {'button_label': 'Modifier'}) }}
                            </div>
                        </div>

                    </div>
                </div>
            </div>
        </div>
        {% endif %}
        <!-- Page content -->
    </div>
</div>


{% endblock %}