{% extends "admin/bars.html.twig" %}

{% block contenpage %}
    <div class="container">
        <h1>Modifier Compte</h1>

        {{ include('admin/compte/_form.html.twig', {'button_label': 'Modifier'}) }}

    </div>
{% endblock %}