{% extends "admin/bars.html.twig" %}

{% block contenpage %}
    <div class="container">
        <h1>{{ "backend.beneficiaire.edit"|trans }}</h1>

        {{ include('admin/beneficiaire/_form.html.twig', {'button_label': 'Editer'}) }}

    </div>
{% endblock %}