{% extends "admin/bars.html.twig" %} {% block contenpage %}
<div class="x_panel">
  <div class="card card-stats mb-4 mb-xl-0">
    <div class="card-body">
      <div class="row">
        <div class="col">
          <h5
            class="card-title text-uppercase text-muted mb-0 h2 font-weight-bold text-center"
          >
            Mon Compte
          </h5>
        </div>
      </div>
       <div class="row">
        {% for compte in comptes %}
           <div class="col-sm-4 alert alert-success img-thumbnail">
              <h6 class="card-title">Débit</h6>
             
            <td>{{ compte.montantDebit }} $</td>
           </div>
           <div class="col-sm-4 img-thumbnail">
            <h6 class="card-title">Crédit</h6>
           <td>{{ compte.montantCredit }} $</td>
           </div>
           <div class="col-sm-4 alert alert-info img-thumbnail">
            <h6 class="card-title">Solde</h6>
            <td>{{ compte.solde }} $</td>
           </div>
           {% endfor %}
       </div>
    </div>
  </div>
</div>
{% endblock %}
