<form method="post" action="{{ path('debit_delete', {'id': debit.id}) }}"
    onsubmit="return confirm('voulez-vous vraiment supprimé ce enregistrement ?');">
    <input type="hidden" name="_token" value="{{ csrf_token('delete' ~ debit.id) }}">
    <button class="btn btn-danger"> <i class="fa fa-trash"></i></button>
</form>